body {
    background-color: aquamarine;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: purple;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    background-color: purple;
    height: auto;
    padding: 20px;
    margin: 0px;
}

main {
   width: 100vw;
   padding: 30px 100px;
   box-sizing: border-box;
}

hr {
    height: .3rem;
    background-color: purple;
    border: none;
    margin: 20px 0px 0px;
}

#mainHeading {
    font-family: "Anton", sans-serif;;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

#tagline {
    color: white;
    background-color: purple;
    text-align: center;
    height: auto;
    padding: 20px;
    margin: 0px;
}

#caption {
    text-align: center;
}

.right {
    float: right;
    margin-left: 30px;
}

.left {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 60%;
}

.funParagraph {
    text-align: justify;
    padding: 30px;;
}

.bordered {
    border: 4px solid purple;
    padding: 0px;
}